
/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: local(''), url(/fonts/Poppins/poppins-v15-latin-200.woff) format('woff'),
    /* Modern Browsers */ url(/fonts/Poppins/poppins-v15-latin-200.ttf) format('truetype'); /* Safari, Android, iOS */
}

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local(''), url(/fonts/Poppins/poppins-v15-latin-300.woff) format('woff'),
    /* Modern Browsers */ url(/fonts/Poppins/poppins-v15-latin-300.ttf) format('truetype'); /* Safari, Android, iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''), url(/fonts/Poppins/poppins-v15-latin-500.woff) format('woff'),
    /* Modern Browsers */ url(/fonts/Poppins/poppins-v15-latin-500.ttf) format('truetype'); /* Safari, Android, iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''), url(/fonts/Poppins/poppins-v15-latin-700.woff) format('woff'),
    /* Modern Browsers */ url(/fonts/Poppins/poppins-v15-latin-700.ttf) format('truetype'); /* Safari, Android, iOS */
}



/* Roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url(/fonts/Roboto/roboto-v20-latin-300.woff) format('woff'),
    /* Modern Browsers */ url(/fonts/Roboto/roboto-v20-latin-300.ttf) format('truetype'); /* Safari, Android, iOS */
}

/* Roboto-normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url(/fonts/Roboto/roboto-v20-latin-regular.woff) format('woff'),
    /* Modern Browsers */ url(/fonts/Roboto/roboto-v20-latin-regular.ttf) format('truetype'); /* Safari, Android, iOS */
}

/* Roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url(/fonts/Roboto/roboto-v20-latin-500.woff) format('woff'),
    /* Modern Browsers */ url(/fonts/Roboto/roboto-v20-latin-500.ttf) format('truetype'); /* Safari, Android, iOS */
}

/* Roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url(/fonts/Roboto/roboto-v20-latin-700.woff) format('woff'),
    /* Modern Browsers */ url(/fonts/Roboto/roboto-v20-latin-700.ttf) format('truetype'); /* Safari, Android, iOS */
}
html,body{
  font-family Roboto;
  font-weight 400;
  padding 0
  margin 0
}
h1,h2,h3,h4,h5{
  font-family Poppins;
  font-weight 700
  color $b88
}
h1{
  font-size 32px
}
h2{
  font-size 24px;
}
h3{
  font-size 20px;
}
h4{
  font-size 18px;
}
p,li{
  font-weight 400
  color $b64
}
strong{
  color $b88
}

a{
  text-decoration none;
  color: $activeLink;

}

.global-ui{
  .right-anchor {
      z-index: 10;
      .right-anchor-item{
        font-size: .875rem;
      }
  }
  .right-anchor{
      z-index: 10;
      .right-anchor-item{
        font-size: .875rem;
      }
  }
}
