// 容器class
$contentClass = '.theme-default-content'

// 颜色
$accentColor = #004EE4
$borderColor = #eaecef
$codeBgColor = #F5F5F5
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$rightAnchorBgColor = #fff
$activeLink = #004ee4
$b = rgba(0,0,0,1)
$b24 = rgba(0,0,0,0.24)
$b64 = rgba(0,0,0,0.64)
$b88 = rgba(0,0,0,0.88)
$w = rgba(255,255,255,1)
$w56 = rgba(255, 255, 255, 0.56)


// 布局
$navbarHeight = 4.25rem
$sidebarWidth = 20rem
$narrowSidebarWidth = 16.4rem
$contentWidth = 740px
$homePageWidth = 960px


// 响应式变化点
$MQNarrow = 960px
$MQMobile = 640px
$MQMobileNarrow = 419px


